/bin/
/.data/
.env

web/node_modules/
web/dist/
web/public/zxing_reader.wasm

internal/webui/dist/*
!internal/webui/dist/.gitkeep

poc/*/node_modules/
poc/*/dist/
poc/*/build/
poc/*/public/zxing_reader.wasm
poc/*/public/beep.wav

**/.svelte-kit/
poc/*/.cert/
deploy/data/
